.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.character-list {
  &__element {
    max-width: 1440px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E5E5;
    justify-content: space-around;
    flex-wrap: wrap;
    
    div, p {
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__image-container {
    position: relative;
  }

  &__dead {
    filter: grayscale(1);
  }

  &__image-ribbon {
    height: 20px;
    width: 14px;
    position: absolute;
    left: calc(50% + 16px);
    top: -4px;
  }

  &__header {
    background-color: rgba(207, 207, 207, 0.68);
  }

  &__image {
    width: 43px;
    height: 68px;
  }
}
